<p id="notice"><%= notice %></p>

<h1>Profiles</h1>

<div class="row">
<% @profiles.each do |profile| %>
<div class="col">
  <div class="card" style="width: 20rem;">
    <%= image_tag profile.image.url, class: 'img-fluid', width: 200, class: "card-img-top" %>
    <div class="card-body">
      <h4 class="card-title"><%= profile.full_name %></h4>
      <p class="card-text"><%= profile.bio %></p>
      <p class="card-text"><strong>Job:</strong> <%= profile.job %></p>
      <p class="card-text"><strong>Hobbies:</strong> <%= profile.hobbies %></p>
      <%= link_to button_tag('Show',class:"btn btn-primary"), profile %>
      <%= link_to button_tag('Edit',class:"btn btn-primary"), edit_profile_path(profile) %>
      <%= link_to button_tag('Delete',class:"btn btn-primary"), profile, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  </div>
</div>
<% end %>
</div>

<table class="table">
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Bio</th>
      <th>Job</th>
      <th>Hobbies</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @profiles.each do |profile| %>
      <tr>
        <td><%= image_tag profile.image.url, class: 'img-fluid', width: 200 %></td>
        <td><%= profile.full_name %></td>
        <td><%= profile.bio %></td>
        <td><%= profile.job %></td>
        <td><%= profile.hobbies %></td>
        <td><%= link_to 'Show', profile %></td>
        <td><%= link_to 'Edit', edit_profile_path(profile) %></td>
        <td><%= link_to 'Destroy', profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Profile', new_profile_path %>
